.container {
   margin: 0 auto 0;
}

.register {
   margin: 0 auto 0;
   width: 300px;
}

.register button {
   width: 100%
}

.box {
   margin-bottom: 5px;
   border-bottom: 1px solid black;
   padding-bottom: 10px;
   padding-top: 10px;
}

.box:last-of-type {
   border: none
}


@media (max-width: 575.98px) {
   .box * {
      font-size: 13px
   }
}