.item{
    position: relative;
    padding: 4px 5px !important;
}

.item .name{
    width: 100%;
    height: 25px;
    background-color: lightgreen;
}

.item .image{
    height: 100px
}

img{
    width: 100%;
    height: 100%;
}

.settings{
    width: 20px;
    height: 20px;

    position: absolute;
    right: 8px; 
    bottom: 8px;
}